<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workfit.workfitapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.example.workfit.Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.workfit.Hometab"
            android:label="@string/title_activity_hometab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.workfit.ButtomMainActivity"
            android:label="@string/title_activity_buttom_main" />
        <activity android:name="com.example.workfit.ArmWorkoutChoose" />
        <activity android:name=".Abs_workout_choose" />
        <activity android:name=".leg_workout_choose"></activity>
    </application>

</manifest>